@CHARSET "ISO-8859-1";

html, body {
	margin: 0;
	height: 100%;
	width: 100%;
}

.u_icon {
	position: relative;
	left: 30px;
	top: 6px;
}

.p_icon {
	position: relative;
	left: 30px;
	top: 6px;
}

.login_form_wrapper {
	width: 500px;
	top: 29%;
	position: absolute;
	left: 32%;
}

.login_title {
	background-color: #00997F;
	width: 100%;
	height: 45px;
	padding: 10px;
	z-index: 10;
	top: 0px;
	position: absolute;
	color: #FFF;
	text-shadow: 0px 1px 1px #000000;
	font-weight: bold;
	letter-spacing: 0.2em;
}

.current_time:BEFORE {
	content: '\a';
	white-space: pre;
}

.current_time {
	font-size: 0.7em;
}

.login_form {
	margin: 0 auto;
	width: 100%;
	padding: 10px;
	box-shadow: 0px 0px 1px #000000;
	padding-top: 70px;
}

.login_form div {
	padding: 10px;
}

.login_form div input {
	width: 300px;
	height: 20px;
	border-radius: 3px;
	border: 1px solid #999999;
	padding: 5px;
	padding-left: 30px;
}

.login_form div input[type="submit"] {
	width: 150px;
	height: 35px;
	background-color: #0099CC;
	border: none;
	padding: 10px;
	color: #FFFFFF;
	left: 30px;
	position: relative;
}

.error_message {
	background: rgba(236, 108, 108, 0.55);
	width: 100%;
	padding: 10px;
	letter-spacing: 0.1em;
	font-size: 1.1em;
	font-family: monospace;
	-webkit-animation: error 5s; /* Chrome, Safari, Opera */
	animation: error 5s;
	font-size: 1.1em;
	font-family: monospace;
}

@
-webkit-keyframes error {
	from {opacity: 0
}

to {
	opacity: 1
}

}

/* Standard syntax */
@
keyframes error {
	from {opacity: 0
}

to {
	opacity: 1
}

}

/* admin side panel*/
.admin_sidebar {
	width: 15%;
	display: block;
	height: 92%;
	background-color: #333333;
	color: #FFFFFF;
	list-style: none;
	border: none;
	box-shadow: 0px 3px 1px #000;
	margin: 0;
	position: relative;
	transition: all 0.1s ease-out;
	-webkit-transition: all 0.1s ease-out;
	-moz-transition: all 0.1s ease-out;
	-o-transition: all 0.1s ease-out;
	float: left;
}

.admin_sidebar>div>div {
	text-align: center;
	padding: 10px;
	background: #222222;
}

.admin-header {
	width: 100%;
	height: 8%;
	min-height: 50px;
	background: #0099CC;
	min-height: 50px;
}

.open-sidebar {
	top: 12px;
	position: relative;
	left: 35px;
	width: 24px;
}

.active {
	left: 0px;
	position: relative;
}

.passive {
	left: -250px;
	position: relative;
}

.dijitContentPane {
	width: 85%;
	float: right;
	background: #EEEEEE;
	height: 92% !important;
}

.icon {
	margin-right: 15px;
	width: 10%;
}

.newemployee_form {
	margin: 0 auto;
}

.newemployee_form input {
	border: none;
    height: 10px;
    width: 200px;
    padding: 10px;
    text-align: center;
    color: #333333;
    font-size: 0.9em;
    box-shadow: 0px 2px 4px #999999;
    margin-top: 0.5em;
    border-right: 20px solid #222222;
}

.newemployee_form select {
	width: 240px;
    border: none;
    padding: 5px;
    height: 33px;
    text-align: center;
    box-shadow: 0px 2px 4px #999999;
    margin-top: 0.5em;
    color: #333333;
    font-size: 0.9em;
    padding-left: 40%;
    border-right: 20px solid #222222;
}

.newemployee_form *{
	margin: 0 auto;
	display: block;
}

.profilepic input[type="file"] {
  position: relative;
  top: 0;
  right: 0;
  left: -50px;
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer;
  display: inline;
}

.button {
	width: 150px;
    height: 35px;
    border: none;
    box-shadow: 0px 3px 3px #999999;
    background: #333333;
    color: #FFFFFF;
    position: absolute;
    top: 26%;
    left: 40%;
}

.menu_item {
	border-bottom: thin solid;
	-webkit-transition: all 1s ease; /* Safari */
    transition: all 1s ease;
}