<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	data-ng-app='xcenter' data-ng-init="appdrawer = 'passive'">
<head>
<title>XCenter Administrator</title>
<link type="text/css" href="../static/style/xcenter.css"
	th:href="@{/style/xcenter.css}" rel="stylesheet" media="screen" />

<meta id='csrf' name="_csrf" th:content="${_csrf.token}"></meta>
<meta name="_csrf_header" th:content="${_csrf.headerName}"></meta>
</head>
<body>
	<div th:replace="fragments/adminsidebar :: adminheader"></div>
	<div th:replace="fragments/adminsidebar :: adminsidebar"></div>
	<div data-dojo-type='app/display/UIRouter'></div>
<script>
	dojoConfig = {
		
			async : true,
			
			parseOnLoad : true
	};
</script>	
<script th:src="@{/js/dojo/dojo.js}"></script>
<script>
	require(['dojo/parser', 'app/display/Menu', 'app/display/UIRouter']);
</script>
</body>
</html>